


<div class="flex">
  <div class="mr-4 flex-shrink-0">
  <div>
      <span class="text-2xl font-bold text-gray-900"><%= @price %></span>
      <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-green-100 text-green-800">
  &Hat;<%= @pchg %>
</span>

 <%=  @sparkline %>
<div>high: <%= @hi %>
<div>low: <%= @lo %>
</div>
</div>
</div>
